config MTK_A3A_MC3413_P
	bool "MTK_A3A_MC3413_P for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          MTK_A3A_MC3413_P Accelerometer.

