
config MTK_A3A_STK3X1X_S34
    bool "stk3x1x for MediaTek package"
    default n
    help
    It support different type sensor
    in this platform. If this option
    is set, it will support ambient
    and light sensor STK3X1X.
